<launch>
  <group ns="ema">
  <rosparam command="load" file="$(find ema_trike)/config/trike.yaml" ns="trike" />
  <rosparam command="load" file="$(find ema_trike)/config/imu.yaml" ns="imu" />
  <rosparam command="load" file="$(find ema_trike)/config/stimulator.yaml" ns="stimulator" />
  <rosparam command="load" file="$(find ema_trike)/config/control.yaml" ns="control" />

  <node name="imu" pkg="ema_trike" type="imu_node.py" output="screen" />
  <node name="stimulator" pkg="ema_trike" type="stimulator_node.py" output="screen" />
  <!--<node name="control" pkg="ema_trike" type="control_node.py" output="screen" />-->
  <!--<node name="control" pkg="ema_trike" type="trike_old.py" output="screen" />-->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ema_trike)/config/rviz/imu.rviz" output="screen" />
  </group>
</launch>
